{%extends "base.html"%}

{%block header%}

    <div class="header_items">

        <div class="header_item"><a class="header_item_item" href="/index/login">Войти</a></div>
        <div class="header_item"><p class="header_item_username">{{ username }}</p></div>

    </div>

{%endblock%}

{%block main%}
    
    <form method="POST" class="registration-form">
        <h1>Страница регистрации</h1>

        <div class="registration-form__input-group">
            <input type="text" name="username" placeholder="Username" class="registration-form__input">
            <label for="username" class="registration-form__label">Логин</label>
        </div>

        <div class="registration-form__input-group">
            <input type="text" name="password" placeholder="Password" class="registration-form__input">
            <label for="password" class="registration-form__label">Пароль</label>
        </div>

        <button type="submit" class="registration-form__button">Зарегистрироваться</button>

        {% if errors %}
            <div class="registration-form__errors">
                {{ errors }}
            </div>
        {% endif %}
    </form>

{%endblock%}